/* header */
.header-cover {
    position: relative;
    background-image: url('../image/mohamed-ajufaan-GFcWwwGNu_w-unsplash.png');
    width: 100%;
    height: 300px;
}

.header-cover::after{
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: black;
    display: block;
    opacity: 60%;
}

.header-wraper {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

.nav-li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-li a {
    color: #fff;
    font-size: 12px;
    font-family: 'Poppins';
}

.hotelname {
    color: #fff;
    font-size: 14px;
    margin-top: 27px;
    margin-right: 270px;
    font-family: 'Poppins';
}

.smallsection {
    position: absolute;
    top: 145px;
    left: 139px;
    z-index: 10;
}

.smallsection h1 {
    font-size: 42px;
    color: #fff;
    font-family: 'Poppins';
    margin-bottom: 20px;
}

.smallsection a {
    color: white;
    font-size: 14px;
    font-family: 'Poppins';
}

.a1::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #FFFFFF;
    margin: 0 10px 0 10px;
    vertical-align: middle;
}

.burger-bar {
    display: none;
    color: #fff;
}

/* section 1 */
.section_1 {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 100px;
    margin-top: 100px;
}

.left-block {
    max-width: 400px;
    width: 100%;
    margin-left: 110px;
    margin-right: 100px;
}

.left-block a {
    color: #5863F8;
    font-size: 14px;
    font-family: 'Poppins';
}

.left-block h2 {
     font-size: 42px;
     font-family: 'Poppins';
     margin-bottom: 20px;
     margin-top: 10px;
}

.left-block-p1 {
    font-size: 16px;
    font-family: 'Poppins';
}

.left-block-p2 {
    font-size: 14px;
    margin-top: 10px; 
    font-family: 'Poppins';
}

.blue-box {
    display: flex;
    width: 200px;
    height: 60px;
    color: white;
    background-color: #5863F8;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'Poppins';
}

.blue-box::after {
    content: url('../image/arrow-right.svg');
    margin-left: 10px;
}

/* section 2 */
.section_2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url('../image/chris-lee-70l1tDAI6rM-unsplash.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_2::before {
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: black;
    display: block;
    opacity: 50%;
}

.small-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    position: absolute;
    left: 21%;
    top: 10%;
    transform: translate(-50%);
    color: #fff;
}

.small-header a {
    color: #3B5998;
    font-family: 'Poppins';
}

.small-header p2 {
    font-size: 40px;
    font-family: 'Poppins';
}

.whiteboxes-wraper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    z-index: 10;
}    

.white-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 260px;
    background-color: white;
    margin: 1px;
    flex-direction: column;
}

.white-box h4 {
    font-size: 18px;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins';
}

.white-box p {
    font-size: 12px;
    padding: 10px;
    text-align: center;
    font-family: 'Poppins';
}

.roundbox {
    background-color: #5863F8;
    border-radius: 50px;
    width: 60px;
    padding: 15px;
}

/* section 3 */
.section_3 {
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    width: 100%;
    background-color: #F8F8F8;
    margin-bottom: 100px;
}

.left-block-testimonials {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.left-block-testimonials a {
    color: #5863F8;
    font-size: 14px;
    font-family: 'Poppins';
}

.left-block-testimonials h5 {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: 'Poppins';
}

.left-block-testimonials span {
    font-size: 18px;
    font-family: 'Poppins';
}

.left-block-testimonials p {
    font-size: 14px;
    margin-top: 30px;
    font-family: 'Poppins';
    width: 350px;
}

.name::before {
    content:url('../image/marius-ciocirlan-vMV6r4VRhJ8-unsplash.svg')
}

.right-block-testimonials {
    background-image: url('../image/bedroom.jpg');
    width: 600px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* section 4 */
.container-wraper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.text-wraper p {
    max-width: 600px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 42px;
    font-family: 'Poppins';
}

.text-wraper h6 {
    color: #5863F8;
    font-family: 'Poppins';
}

.images-wraper {
    display: flex;
    justify-content: space-between;
}

.image-block {
    width: 350px;
}

/* footer */
.footer-bg {
    background-color: #121212;
    padding: 70px 0 50px 0px;
    position: relative;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-block {
    color: #fff;
    font-size: 12px;
    padding-left: 30px;
    font-family: 'Poppins';
}

.first {
    width: 250px;
}

.first h {
    font-size: 24px;
}

.first p {
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer-block h2 {
    padding-bottom: 20px;
}

.contact-icon {
    color: #5863F8;
    margin-right: 15px;
}

.footer-social-icons {
    display: flex;
}

.size-social {
    width: 35px;
    height: 35px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soc-contact-fb {
    background-color: #3B5998; 
}

.soc-contact-twitter {
    background-color: #55ACEE;
    margin:0 15px;
}

.soc-contact-google {
    background-color: #DC4E41;
}

.ul-list {
    color: #5863F8;
    padding-top: 10px;
}

.ul-list li {
    margin-bottom: 15px;
}

.copyright {
    color: #fff;
    font-size: 12px;
    margin-top: 50px;
    font-family: 'Poppins';
    margin-left: 90px;
}

.span {
    color: #5863F8
}